<!DOCTYPE html>
<html lang="en">
<head>
    <title>RangeTest</title>
    <style type="text/css">
        video {
            display: block;
            margin: 0 auto;
        }
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
